.post
  .ava-thumb
    = link_to(image_tag(@post.user.avatar.url(:thumb)), @post.user)
  .info-container
    -if @post.pic_post
      %h1.title<
        = @post.pic_post.title
      %br/
      = image_tag @post.pic_post.image.url(:medium)
      %br/
      -if @post.pic_post.definition != ""
        %pre 
          = @post.pic_post.definition
        %br/
    -if @post.video_post
      - c = Conred::Video.new(video_url: @post.video_post.link, width: 512, height: 288 ,error_message: "Video url is invalid")
      = link_to @post.video_post.title, @post, class: "title"
      %br/
      = c.code.html_safe
      %br/
      -if @post.video_post.definition != ""
        %pre 
          = @post.video_post.definition
        %br/
    -if @post.user == current_user
      = link_to 'Delete', @post, method: :delete
      
.info-container
  = form_for @comment, url: post_path(@post), remote: true do |f|
    = f.text_area :text
    %br/
    =f.submit "Comment", class: 'button-default'
    
#comments
  = render 'comments/comments'
