!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Smileme
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %nav
        - if user_signed_in?
          %input{type: "text", class: "search"}
          = link_to image_tag("/assets/home.png"), current_user
          = link_to image_tag("/assets/logout.png"), destroy_user_session_path, method: :delete
        -else
          = link_to image_tag("/assets/login.png"), user_session_path
          = link_to image_tag("/assets/signup.png"), new_user_registration_path
    %main
      -if notice
        #notice
          %em.close ×
          =notice
      -if flash[:error]
        #error
          %em.close ×
          = flash[:error]
      = yield
